.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.formInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 17px;
}

.formInput:focus {
    outline: none;
}

.formBtn {
    padding: 10px 25px;
    background: transparent;
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.formBtn:hover {
    background: white;
    color: #252424;
    border: none;
    padding: 12px 27px;
}